body {
    font-family: Arial, sans-serif;
    background-color: #034694; 
    color: #fff; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-section, .login-section {
    background-color: #fff; 
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.signup-section header, .login-section header {
    font-size: 24px;
    margin-bottom: 20px;
    color: #034694; 
}

.social-buttons button {
    background-color: #034694; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.social-buttons button:hover {
    background-color: #00205B; 
}
.social-buttons img{
    width: 80px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.separator .line {
    flex: 1;
    height: 1px;
    background-color: #ccc; 
}

.separator p {
    margin: 0 10px;
    color: #ccc; 
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

form input:focus {
    outline: none;
    border-color: #034694; 
}

form a {
    color: #034694; 
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

form button.btn {
    background-color: #034694; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button.btn:hover {
    background-color: #00205B; 
}

#login-success-message {
    color: #2E8B57; 
}